@import url('https://fonts.googleapis.com/css?family=Roboto');
body {
	color: #1d1d1d;
	background-color: #eeeeee;
	font-family: "Roboto", "TeX Gyre Heros", "Helvetica Neue", "Helvetica" ,"Nimbus Sans L", Arial, sans-serif;
	margin: 0;
    overflow:hidden;

}
#holder {
	padding: 25px;
	width: 100%;
	height: 100vh;
	padding: 0;
	float: left;
}
#contdiv {
	padding: 25px;
	width: 80%;
	height:100vh;
	float: left;
	padding: 0;
}
#navbar {
	padding: 25px;
	color: #eeeeee;
	background-color: #1d1d1d;
	width: 18%;
	height:100vh;
	float: left;
	padding-left: 1%;
	padding-right: 1%;
}
.code {
	margin: auto;
	font: Consolas, "Ubuntu Mono", Monospace, monospaced;
	background-color: #1d1d1d;
	width: 46%;
	padding: 2%;
}
 /* unvisited link */
a:link {
	color: #eeeeee;
    text-decoration: none;
}

/* visited link */
a:visited {
  	color: #eeeeee;
}

/* mouse over link */
a:hover {
  	color: #eeeeee;
}

/* selected link */
a:active {
	color: #1d1d1d;
} 
